.jumbotron {
	background-color: green;
	color: white;
}

a {
	color: white;
}
footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	color: white;
	margin-left: 10px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 250px;
	padding: 2px 5px 20px 5px;
}